<div class="form-container">
<form class="form-friends" name="form-friends">
    <div class="flex-container">
        <input type="text" class="form-friends__login" name="form-friends__login">
        <button class="form-friends__find-btn">Найти</button>
    </div>
</form>
</div>
