<footer class="footer">
            <div class="container">
                <div class="flex-container">
                    <div class="flex-row">
                        <div class="footer__copy">
                            © 2022 Bakirov
                        </div>
                    </div>
                </div>
            </div>
        </footer>