<header class="header">
            <div class="container">
                <nav class="header__nav nav">
                    <ul class="header__list nav__list">
                        <li class="nav__list-item">
                           <a href="/chat" class="nav__link">Главная</a> 
                        </li>
                        <li class="nav__list-item">
                            <span class="nav__name"></span>
                         </li>
                        <li class="nav__list-item">
                            <a href="#" onclick="return false" class="nav__link logout">Выйти</a> 
                         </li>
                    </ul>
                </nav>
            </div>
        </header>