<aside class="sidebar">
                <ul class="sidebar__nav">
                    <li class="sidebar__item">
                        <button class="sidebar__button">Друзья</button>
                    </li>
                    <li class="sidebar__item">
                        <button class="sidebar__button">Сообщения</button>
                    </li>
                </ul>
            </aside>