<div class="about">
    Мессенджер (от англ. messenger — курьер, посланник) — это программа для мгновенного обмена текстовыми сообщениями, аудиозаписями, фотографиями и другими мультимедиа. Приложения устанавливаются на компьютер, смартфон, планшет и работают через интернет.
</div>