<div>
  {{>finder}}
  {{>friendsList}}
  {{!-- <div class="friends__list-container">
    <ul class="friends__list">
        {{#each friends}}
          <li>{{@index}}: {{this}}</li>
        {{else}}
          <li>Список пуст</li>
        {{/each}}
      </ul>
  </div> --}}
</div>
