<div class="flex-container-messages">
    <div class="messages__who"><span>{{who}}</span></div>
    <div class="messages__history">
        <ul class="messages__list">
        </ul>
    </div>
    <form name="messages">
        <div class="flex-container-form">
            <textarea name="messagesTb" class="messagesTb"></textarea>
            <button name="submit" class="messageBtn">Отправить</button>
        </div>
    </form>
</div>
